html, body {
    background-color: #f2f2f2;
    color-scheme: light;
}

body {
    font-family: Arial;
    background: #f2f2f2;
}

.box {
    width: 400px;
    margin: 100px auto;
    background: yellow;
    padding: 40px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px #aaa;
    font-size: 18px;
    font-weight: bold;
    color: #003d80;
}

.login-link {
    text-decoration: none;
    color: #003d80;
}

.login-link:hover {
    text-decoration: underline;
}

input {
    width: 90%;
    padding: 10px;
    font-size: 16px;
}

button {
    width: 95%;
    padding: 10px;
    font-size: 16px;
    background: #003d80;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0055aa;
}
